# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore the generated folders by the build system
bin/
build

# Ros files
srv_gen/
msg_gen/
ros/cameraNode/src/cameraNode

# Eclipse project
.project

sync.sh
